
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
}
.navbar
{
    background: #f0e7e7fc!important;
    backdrop-filter: blur(8px)!important;
    text-align: center !important;
}
.navbar .nav-items .nav-link
{
    text-align: center;
    padding: 16px 16px;
}
.navbar-toggler:focus
{
    box-shadow: 0 0 10px white!important;
    border: 2px solid white;
}

.nav-link
{
    color: rgb(13, 187, 109) !important;
    font-size: 1.5rem!important;
   
}
.nav-link:hover{
    background: linear-gradient(117deg, rgba(252, 63, 5, 1) 12%, rgba(255, 250, 250, 0.9698004201680672) 45%, rgb(80, 165, 15) 100%)!important;
    color: transparent!important;
    -webkit-background-clip: text!important;
}
.active
{
    background: linear-gradient(117deg, rgba(252, 63, 5, 1) 12%, rgba(255, 250, 250, 0.9698004201680672) 45%, rgb(80, 165, 15) 100%)!important;
    color: transparent!important;
    -webkit-background-clip: text!important;
}
:root
{
    --bg-danger:#2e5090!important;
    --bg-white:#ffffff;
    --bg-light-white:#f5f5f5;
--bg-primary:#00d4ff!important;
--secondary-font: "Merienda", cursive;
    --primary-font:"Poppins",sans-serif;

    --text-white:#ffffff;
    --text-black:#131313;
    --text-gray:#aaa;
    --text-dark-gray:#777;
}
body{
    font-family: var(--primary-font)!important;
    background-color: var(--bg-white);
    color: var(--text-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75rem;
    overflow-x: hidden;
}
h2
{
    font-family: var(--secondary-font)!important;
    color: var(--bg-danger)!important;
}
/* p{
   color:#393c5b!important;
} */
.btn
{
    background-color:var(--bg-danger)!important;
    color: var(--text-white)!important;
    transition: .3s all linear!important;
    border: none!important;
}
.btn:hover
{
    background-color:#802bb1!important;
    color: var(--text-white)!important;
    border: none!important;
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 30px 0;
    transition: all 0.5s ease;
}

.nav-fixed {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 2px 2px 10px #bbb;
}

.nav-fixed h2 {
    color: #ff7702 !important;
}

.nav-fixed .nav ul a {
    color: #138808;
}

.menu-par {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul li {
    display: inline-block;
}

.nav ul a {
    color: #fff;
    padding: 10px;
    position: relative;
}

.nav ul a:before {
    content: "s";
    background-color: #ff7702;
    position: absolute;
    top: 0;
    width: 0%;
    height: 2px;
    font-size: 0px;
    left: 10px;
    transition: all 0.5s ease;
}

.nav ul a:hover:before {
    width: 74%;
} 

.home_header_info h1 {
    font-size: 45px;
    padding: 20px 0px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-par h2 {
    color: #fff;
    font-size: 40px;
}

.home_header_info p {
    font-size: 15px;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
}

.home_header_info a {
    background-color: #fff;
    color: #138808;
    text-decoration: none;
    padding: 17px 45px;
    margin-top: 25px;
    display: inline-block;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.home_header_info a:hover {
    color: #fff;
}

.home_header_info a:after {
    content: "Read More";
    background-color: #138808;
    width: 0%;
    font-size: 15px;
    height: 100%;
    line-height: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    right: 0;
}

.home_header_info a:hover:after {
    width: 100%;
}

.toggle-btn {
    display: none;
    color: #fff;
}


.line
{
    background-color: #4c488a!important;
}
.card
{
    transition: .3s all ease-in-out;
}
.card img
{
    transition: .3s all linear;
}
.card:hover
{
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.end
{
    background: #38373781!important;
    backdrop-filter: blur(8px)!important;
    text-align: center !important;
    color: white!important;
}
.off
{
    color: white!important; 
}
.icons i
{
    font-size: 35px;
    padding-left: 20px;
    transition: .5s all linear;
}
.icons i:hover
{
    transform: scale(1.2);
    cursor: pointer;
    color: var(--bg-primary)!important; 
}
.back
{
    background: #38373781!important;
    backdrop-filter: blur(1px)!important;
    text-align: center !important;
    color: white!important;
}
.iconheart
{
    animation: heart .5s linear infinite alternate;
    transform: scale(1);
    
}
@keyframes heart {
    from{
        transform: scale(.7);
    }
    to{
        transform: scale(1);
    }
}
/* gallery section */
.filter-gal-par {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.filter-gal-par a{
    text-decoration: none;
}
/* footer section */
footer {
    border-top: 2px solid #a8a9a9;
    margin-top: 30px;
}

.footer-1 h2 {
    color: #138808;
    font-size: 30px;
}

.fot-info h3 {
    color: #333;
    font-size: 25px;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.fot-info ul {
    list-style: none;
}

.fot-info ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 0px;
    display: inline-block;
    transition: all 0.6s ease;
}

.fot-info ul li a:hover {
    padding-left: 5px;
}

.copyright {
    text-align: center;
    background-color: #ff7708;
    color: #ffffff;
    padding: 14px 0px;
    margin: 50px 0px 0px 0px;
}
.footer-par {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 0px;
}

